

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#header{
   background: url(../images/fondologo.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.container{
    color:red;
    text-align:center;
    border-color:white;    
    
}

#title:hover{
    color:red;
}













