

/* ==========================================================================
   Agencia de viajeas Sebas y Dani 1.0V
   ========================================================================== */
   body{
     font-family: "Work Sans", Arial, sans-serif;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.7;
     color: #828282;
     background: #fff;
   }

#header{
    background: url(../images/fondologo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-small {
        width:70%;
    }
/* Index View */

#titulo:hover{
    /*font-size:120px;*/
    border-color:white;
}

.modal-header{
    background-color: #333;
    color:white;
}
.modal-body{
    background-color:#6060da21;
}

.cruz{
    background: white !important;
}

#mivideo{
    /* position: absolute;
     bottom: 0px;
     right: 0px;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -1000;
     overflow: hidden;    */
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);

}

.container h2{
    color:black;
    border-color:white;
}

.contact{
    margin-top:150px;
}

.contact span{
    font-size:18px;
}

/* ============= Destination view =======================*/
hr.custom-style {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*Header Design*/
#bg-header {
      background-image: url(../images/bahamas/header-bg.jpg);
      height: 50%;
      padding-top: 360px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

#bg-header-canarias {
      background-image: url(../images/canarias/header-bg.jpg);
      height: 40%;
      padding-top: 360px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

#bg-header-miami {
      background-image: url(../images/miami/header-bg.jpg);
      height: 40%;
      padding-top: 360px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

#bg-header-nosotros {
      background-image: url(../images/sobre-nosotros/header-bg.jpg);
      height: 40%;
      padding-top: 360px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

#bg-header-servicios {
      background-image: url(../images/header-services.jpg);
      height: 50%;
      padding-top: 360px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
/* Destination Design */

.destination-bg-section {
    background-color: #e0f3f9;
    padding-bottom: 20px;
}

.destination-heading span {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}

.destination-heading h2 {
    font-size: 55px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: #000;
}

.destination p{
  text-align: justify;
}
.destination h3{
  text-align: center;
}
.read-more{
    text-align: center !important;
}
.photo-place {
    height: 200px;
    margin-bottom: 15px;
    background-position: center;
    background-size: cover;
}

/* Video section */
.video-bg-section {
  background-image: url(../images/bahamas/video-bg.jpg);
  height: 30%;
  padding-top: 50px;
  padding-left: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-bg-section-canarias {
  background-image: url(../images/canarias/video-bg.jpg);
  height: 30%;
  padding-top: 50px;
  padding-left: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-bg-section-miami {
  background-image: url(../images/miami/video-bg.jpg);
  height: 30%;
  padding-top: 50px;
  padding-left: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-bg-section-nosotros {
  background-image: url(../images/sobre-nosotros/video-bg.jpg);
  height: 30%;
  padding-top: 100px;
  padding-bottom: 400px;
  padding-left: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

#fade-destinos{

}
/*Discover Section */
.discover-bg-section{
  background-color: #ffff;
  padding-bottom: 20px;
}

/* Activities*/
.activities h1{
  text-align: center;
}

.list-bg {
      background: rgba(65, 220, 156, 0.28);
}

/*Footer Design*/
footer{
      background-color: #f5f5f5;
}

.textos{
    color:black;
}

textarea{
    resize:none;
}
#formTexto {
 height:120px;
    width:60px;
}
