

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#header{
   background: url(../images/fondologo.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.container{
    text-align:center;
    border-color:white;

}

#title:hover{
    color:red;
}

.modal-header{
  background-color: #333;
  color:white;
}
.modal-body{
  background-color:#6060da21;
}

.cruz{
  background: white !important;
}

#mivideo{ 
    position: absolute; 
    bottom: 0px; 
    right: 0px; 
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto; 
    z-index: -1000; 
    overflow: hidden;     
   
}